.everything {
    background-color:#212121;
    width: 100%;
    color:aliceblue;
    font-family: 'Verdana', sans-serif;
}
.multiCropHolder {
    width: 99%;
    margin: 0% 0.5%;
    margin-top: 2%;
    padding-bottom: 10px;
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
}
.Home-Icon{
    font-size: 20px;
    color:white;
    background-color: #363535;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mainTitle {
    margin-left: 28.6%;
    font-weight: 600;
    color:#1db050;
    font-size: 45px;
}
.HomeTitle {
    margin-left: 20px;
    margin-top: 10px;
}
.logo:hover {
    cursor: pointer;
}
.HomeTitle:hover {
    cursor: pointer;
}
.logo{
    height: 100px;
}
.cropHolder {
    padding: 0px 15px;
    width: 400px;
    text-align: center;
    background-color: #1db050;
    border-radius: 10px;
    border: 10px solid rgb(0, 78, 18);
}
.cropHolder:hover {
    box-shadow: 0px 0px 2.5px rgb(104, 104, 104);
}

.cropHolder img {
    width: auto;
}
.cropHolder .text {
    font-size: 18px;
    text-align: left;
}
.image{
    height: 200px;
    width: auto;
    margin-bottom: 20px;
}
.heading {
    font-size: 23px;
    font-weight: 900;
    color:white;
}

.optimize {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
}
.name{
    font-size: 40px;
    font-weight: 600;
}