.everything {
    background-color:#212121;
    width: 100%;
    color:aliceblue;
    font-family: 'Verdana', sans-serif;
}
.multiCropHolder {
    width: 99%;
    margin: 0% 0.5%;
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}
.cropHolder {
    width: 270px;
    text-align: center;
    background-color: #1aa64b;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
}
.cropHolder p {
    margin-top: 10px;
    font-size: 25px;
}
.cropHolder img {
    width: 240px;
}
.cropHolder .text {
    font-size: 15px;
    text-align: left;
}
img{
    height: 200px;
    width: auto;
}